<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="SigLog_DataCenter">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta name="author" content="Dunian Coutinho Sampa">
		<title> SigLog DataCenter </title>
	</head>
	<body>
		<form method="POST" action="/" class="form-login">
			<h3> Entrar no Sistema </h3>
			<p> Preencha os campos necessários para acessar.</p>
				<!-- if messages.erro
				</br>
				<div class="alert alert-danger" >

					each msg in messages.erro
						b= msg
						br
				</div>
				-->
			<div class="form-group">
				<label> E-mail </label>
				<input type="email" class="form-control" placeholder="E-mail" name="email" autofocus required>
			</div>
			<div class="form-group">
				<label> Senha </label>
				<input type="password class="form-control" placeholder="Senha" name="password" required> 
			</div>
			<button type="submit" class="btn btn-primary btn-block"> Entrar </button>
		</form>
		<script src="/js/jquery.min.js" />
		<script(src="/js/bootstrap.min.js" />
	</body>
</html>